body {
	background-color: #CAD2C5;
	margin: 0px;
}
h1 {
	color: #2F3E46;
	font-family: 'Dosis', sans-serif;
	font-weight: bolder;
	text-align: center;
}
h4 {
	color: #354F52;
	font-family: 'Dosis', sans-serif;
	text-align: center;
}
p {
	color: #354F52;
	font-family: 'Dosis', sans-serif;
	text-align: center;
}
.heading {
	background-color: #84A98C;
	padding-top: 10px;
	padding-bottom: 10px;
}
button {
	color: #84A98C;
	height: 150%;
}
li {
	color: #354F52;
	font-family: 'Dosis', sans-serif;
}
img {
	border-radius: 5%;
}
.border {
	border-color: #2F3E46;
	border-width: medium;
	border-style: solid;
}
iframe {
	border-color: #2F3E46;
	border-width: medium;
	border-style: solid;
	border-radius: 5%
}
a {
	color: #52796F;
	font-family: 'Dosis', sans-serif;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
}
/*#CAD2C5- Ash Gray (background)
#84A98C- Dark Sea Green (looks like sage)
#52796F- Hookers green (Teal)
#354F52- Dark Slate Gray (darker teal)
#2F3E46- Charcoal (good text color)
Font
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap" rel="stylesheet">
font-family: 'Dosis', sans-serif;*/