body {
	background-color: #CAD2C5
}
h1 {
	color: #2F3E46;
	font-family: 'Dosis', sans-serif;
	font-weight: bolder;
	text-align: center;
}
h4 {
	color: #354F52;
	font-family: 'Dosis', sans-serif;
	text-align: center;
}
p {
	color: #354F52;
	font-family: 'Dosis', sans-serif;
	text-align: center;
}
.heading {
	background-color: #84A98C;
}
button {
	color: #84A98C;
}
li {
	color: #354F52;
	font-family: 'Dosis', sans-serif;
}
img {
	border-color: #2F3E46;
	border-width: medium;
	border-style: solid;
	border-radius: 5%;
}
iframe {
	border-color: #2F3E46;
	border-width: medium;
	border-style: solid;
	border-radius: 5%
}
a {
	color: #52796F;
	font-family: 'Dosis', sans-serif;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}
.span {
    display: block;
    height: 60px;
    width: 60px;
    color: #2F3E46;
    font-size: 24px;
    text-align: center;
    line-height: 30px;
    padding: 30px;
}
.circle {
	border-radius: 50%;
    width: 100px;
    height: 100px;
    background: #52796F;
}
/*#CAD2C5- Ash Gray (background)
#84A98C- Dark Sea Green (looks like sage)
#52796F- Hookers green (Teal)
#354F52- Dark Slate Gray (darker teal)
#2F3E46- Charcoal (good text color)
Font
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap" rel="stylesheet">
font-family: 'Dosis', sans-serif;*/